logs/*
!.gitkeep
node_modules/
tmp
.idea
.DS_Store
angular-phonecat-snapshots
bower_components/
*.DS_Store
*~*
*~
#*
CVS
*.bak
*.pyo
*.pyc
.svn
.hg
.bzr
.komodotools
.tools
__pycache__
hg-checklink-*
hg-checkexec-*
.localized
.keep
.git
.git/**